* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(pink 50%, navy 50%);
  position: relative;
}

.todoApp {
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 25%;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(195, 194, 194);
}

.todoApp h2 {
  box-shadow: inset 0 0 5px orange;
  font-size: 24px;
  color: rgb(92, 18, 161);
  text-align: center;
}

.todoApp img {
  box-shadow: inset 0 0 5px red;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  bottom: 2.5px;
}

.inputWrap {
  /* box-shadow: inset 0 0 10px orange; */
  width: 100%;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgb(191, 190, 190);
  background-color: rgb(232, 231, 230);
  display: flex;
  margin-bottom: 20px;
}

.inputWrap input {
  border: none;
  display: flex;
  width: 90%;
  margin-left: 10px;
  background-color: transparent;
}

.inputWrap input:focus {
  outline: none;
}

.inputWrap #addBtn {
  width: 45px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: palevioletred;
  font: 14px;
  color: navy;
  cursor: pointer;
}

/* #listContainer {
  box-shadow: inset 0 0 10px olive;
} */

ul li {
  box-shadow: inset 0 0 5px orange;
  position: relative;
  margin-bottom: 8px;
  padding-left: 24px;
  display: flex;
  /* justify-content: end; */
  cursor: pointer;
  vertical-align: middle;
}

ul li span {
  /* box-shadow: inset 0 0 10px olive; */
  display: flex;

  justify-content: right;
  /* flex: 1; */
}

ul li::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  background-image: url(./image/unchecked.png);
  background-size: cover;
  /* vertical-align: middle; */
}
ul li.selected {
  text-decoration: line-through;
  color: grey;
}

ul li.selected::before {
  background-image: url(./image/checkedblack.png);
}

/* ul li.deleteBtn {
  border: 1px solid grey;
  width: 18px;
  height: 18px;
} */

ul li.deleteBtn {
  /* box-shadow: inset 0 0 10px orange; */
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(./image/x-mark.png);
  background-size: cover;
}

ul li span:hover {
  background-color: rgb(252, 98, 175);
  transition: all 1s;
}

/* ul li.updateBtn {
} */
