* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, pink, rgb(239, 206, 146));
  padding: 10px;
}
.todo-app {
  box-shadow: inset 0 0 10px orange;
  width: 100%;
  max-width: 400px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 100px 70px;
}

.todo-app h2 {
  color: #ed5391;
  display: flex;
  align-items: center;
}

.todo-app img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#add-task {
  /* box-shadow: inset 0 0 10px red; */
  width: 100%;
  height: 40px;
  background-color: lightgoldenrodyellow;
  background-color: rgb(240, 240, 240);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
#add-task input {
  border-style: none;
  outline: none;
  flex: 1;
  /* width: 100%; */
  height: 40px;
  background-color: transparent;
  cursor: text;
  padding-left: 20px;
}
#add-task button {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background-color: lightsalmon;
  color: #fff;
  font-size: 16px;
  border-style: none;
}
#task-container {
  /* box-shadow: inset 0 0 10px green; */
  /* width: 100%; */
  flex: 1;
}
ul li {
  list-style: none;
  font-size: 16px;
  padding: 12px 2px 12px 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

ul li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 15px;
  left: 15px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(img/checked.png);
}

ul li button {
  width: 25px;
  height: 25px;
  border-style: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

ul li button:hover {
  background-color: #f7afca;
}
